# Porte esposte sul computer
FRONTEND_PORT=5173
API_PORT=8085
PHPMYADMIN_PORT=8081

# Database didattico
DB_DATABASE=scuola
DB_USERNAME=scuola
DB_PASSWORD=scuola
DB_ROOT_PASSWORD=root

# Deploy con Kamal
KAMAL_HOST=203.0.113.10
KAMAL_DOMAIN=
KAMAL_IMAGE=tuo-utente-dockerhub/lamp-slim-react
KAMAL_REGISTRY_USERNAME=tuo-utente-dockerhub
KAMAL_REGISTRY_PASSWORD=
